@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* COLORS  */
/* color: #020100;
color: #f1d302  yellow
#c1292e red
#fdfffc kind of white*/

html,
body {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  width: 100%;
  height: 100%;
  color: #333230;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* HEADER  */

header {
  width: 100%;
}

/* TOP  */

.top-header {
  width: 100%;
  background-color: #000;
  padding: 1.3rem 0rem;
}
.top-container {
  max-width: 1400px;
  padding: 0 2.5rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.top-header-left i {
  font-size: 12px;
  margin-right: 0.5rem;
}
.top-header-left p {
  font-size: 12px;
  margin-right: 1rem;
}

.top-header-left .phone {
  font-family: sans-serif;
  font-size: 11px;
}
.top-header-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social i {
  font-size: 12px;
}
.social a {
  margin-right: 1rem;
  color: #fff;
  transition: 0.3s all ease;
}
.social a:hover {
  color: #f1d302;
}
.sign {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign i {
  font-size: 12px;
  color: #fff;
  margin-right: 0.5rem;
}
.sign a {
  color: #fff;
  font-size: 12px;
  transition: 0.3s all ease;
}
.sign a:hover {
  color: #f1d302;
}
/* MIDDLE  */

.middle-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9rem;
  max-width: 1400px;
  padding: 1rem 2.5rem;
  margin: auto;
}
.logo a {
  color: #f1d302;
  font-size: 3rem;
  font-weight: 800;
}
.middle-header form {
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
}
.middle-header form select {
  width: 30%;
  background-color: #f1d302;
  color: #fdfffc;
  padding: 1rem;
  outline: none;
  border: none;
}
.middle-header form input {
  width: 70%;
  padding: 0.9rem 1.2rem;
  outline: none;
  border: 1px solid #dfdfdf;
}
.middle-header form i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 16px;
}
.cart-div {
  position: relative;
  margin-right: 12px;
}
.cart-div i {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s all ease;
}
.cart-div i:hover {
  color: #f1d302;
}
.cart-value {
  position: absolute;
  top: -14px;
  right: -9px;
  width: 15px;
  height: 15px;
  background-color: #f1d302;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
}
.bottom-header {
  width: 100%;
  height: 5rem;
  background-color: #c1292e;
}
.bottom-header-container {
  max-width: 1400px;
  padding: 0 2.5rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.hamburger-container {
  display: none;
}
nav {
  width: 100%;
  height: 100%;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul a {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  transition: 0.3s all ease;
}
nav ul a:hover,
nav .dropbtn:hover {
  color: #f1d302;
}
.dropdown {
  position: relative;
}
.dropdown .dropbtn {
  font-size: 1.6rem;
  border: none;
  outline: none;
  color: #fff;
  background-color: inherit;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #c1292e;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-content a {
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #fff;
  color: #c1292e;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.swiper-container.swiper1 {
  width: 100%;
  height: 600px;
}
.swiper1 .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 60px;
  overflow: hidden;
}

.swiper1 .first-slide {
  background: url(img/tamara-bellis-68csPWTnafo-unsplash.jpg) no-repeat center;
  background-size: cover;
}
.swiper1 .second-slide {
  background: url(img/hannah-morgan-ycVFts5Ma4s-unsplash.jpg) no-repeat center;
  background-size: cover;
}
.swiper1 .third-slide {
  background: url(img/ashim-d-silva-ZmgJiztRHXE-unsplash.jpg) no-repeat center;
  background-size: cover;
}
.swiper1 .fourth-slide {
  background: url(img/zeny-rosalina-Z3tc0Bfv0c4-unsplash.jpg) no-repeat center;
  background-size: cover;
}
.swiper1 .swipper-inner {
  background-color: rgba(0, 0, 0, 0.4);
  max-width: 60%;
  padding: 2rem;
}
.swiper1 .swiper-slide h1 {
  color: #fff;
  font-size: 5rem;
  margin-bottom: 2rem;
  font-weight: 900;
}

.swiper1 .swiper-slide p {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.3;
  margin-bottom: 4rem;
}
.btn {
  display: inline-block;
  color: #fff;
  background-color: #c1292e;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}
.swiper1 .swiper-pagination-bullet-active {
  background-color: #fff;
}
.swiper1 .swiper-button-prev:after,
.swiper1 .swiper-button-next:after {
  color: #fff;
  outline: none;
}

/* Services  */
.services {
  padding: 5rem 0 0;
}
.serv-container {
  max-width: 1400px;
  margin: auto;
  padding: 45px 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 25px;
}
.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.service-info {
  margin-top: 2rem;
}
.service-info h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
}
.service-info p {
  font-size: 1.5rem;
  font-weight: 500;
  width: 80%;
  margin: auto;
}

.discounts {
  max-width: 1200px;
  padding: 5rem 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 1.5rem;
  margin: 0 auto;
}
.img-container-1,
.img-container-2 .img-top,
.img-container-2 .img-bottom,
.img-container-3 {
  overflow: hidden;
}
.img-container-1 a img,
.img-container-2 a img,
.img-container-3 a img {
  transition: 0.3s all ease;
}
.img-container-1 a:hover img,
.img-container-2 a:hover img,
.img-container-3 a:hover img {
  transform: scale(1.05);
}
.img-container-1,
.img-container-2,
.img-container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-container-2 .img-top {
  margin-bottom: 2.5rem;
}
/* FAVORITE PRODUCTS  */

.products-favorites {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 5rem 2.5rem;
}
.costumer-fav {
  width: 40%;
  text-align: center;
  padding: 3rem;
}
.costumer-fav h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 800;
  padding: 1rem 0.5rem;
  background-color: #f1d302;
  color: white;
  margin-bottom: 2rem;
}
.costumer-fav > p {
  font-size: 1.6rem;
  font-weight: 500;
}
.swiper-container.swiper2 {
  width: 58%;
  height: 400px;
  padding: 3rem 3rem 6rem 3rem;
  position: relative;
}
.swiper2 .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  border: 1px solid #dfdfdf;
  position: relative;
  overflow: hidden;
}

.swiper2 .swiper-pagination-bullet-active {
  background-color: #c1292e;
}
.swiper2.swiper-pagination {
  position: absolute;
  bottom: 5px;
}
.swiper2.swiper-button-next,
.swiper2 .swiper-button-prev {
  position: absolute;
  top: 95%;
  width: 35px;
  height: 35px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c1292e;
  outline: none;
}
.swiper2.swiper-button-next,
.swiper2.swiper-container-rtl .swiper-button-prev {
  right: auto;
  left: 80px;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 20px;
  right: auto;
}
.swiper2.swiper-button-next:after,
.swiper2.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 25px;
  font-weight: 600;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}
.img-area {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.img-area img {
  width: 100%;
  height: 100%;
  transition: 0.3s all ease;
}
.body-area {
  margin: auto;
}
.body-area h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.body-area p {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-family: sans-serif;
  font-weight: 600;
  color: #c1292e;
}
.hidden-option {
  position: absolute;
  top: 4%;
  right: 0;
  padding: 1rem 1.5rem;
  background-color: #c1292e;
  transform: translateX(100%);
  transition: 0.3s transform ease;
  z-index: 100;
}
.hidden-option i {
  color: #fff;
  font-size: 1.4rem;
}
.hidden-option i:first-child {
  margin-right: 1rem;
}
.swiper2 .swiper-slide:hover .hidden-option {
  transform: translateX(0);
}

.swiper2 .swiper-slide:hover img {
  transform: scale(1.1);
}

footer {
  width: 100%;
  background-color: #c1292e;
}
.footer-container{
   max-width: 1400px;
  padding: 5rem 2.5rem 2rem;
  margin: 5rem auto 0;
  display: flex;
  flex-direction: column;
  background-color: #c1292e;
}
.footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 5rem;
}
.footer-list {
  flex: 1;
}
.footer-list h3 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}
.footer-list ul li {
  margin-bottom: 1.2rem;
}
.footer-list ul li a {
  display: inline-block;
  text-transform:uppercase;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
  transition: 0.3s all;
}
.footer-list ul li a:hover {
  color: #f1d302;
}
.footer-list p {
  width: 100%;
  text-align: left;
  line-height: 1.2;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 2.5rem;
}
footer form {
  width: 100%;
}
footer .input-icon {
  width: 100%;
  position: relative;
}
footer form .input-icon i {
  position: absolute;
  padding: 0.75rem 0.7rem;
  font-size: 1.6rem;
  display: inline;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #f1d302;
}

footer form input {
  width: 100%;
  outline: none;
  border: none;
  padding: 1.1rem 2rem 1.1rem 3rem;
}
footer form input::placeholder {
  color: #84849d;
  font-weight: 500;
}
footer .sub {
  display: inline-block;
  width: 100%;
  background-color: #f1d302;
  padding: 1rem;
  margin-top: 0.8rem;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  border-top: 1px solid rgba(237, 222, 221, 0.5);
}
.footer-bottom  .left-bottom,
.footer-bottom  .right-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-bottom  .left-bottom a,
.footer-bottom  .right-bottom a {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s all;
  margin: 0.3rem;
}
.footer-bottom  .left-bottom div {
  margin-left: 0.3rem;
}
.footer-bottom  .left-bottom a:hover,
.footer-bottom  .right-bottom a:hover {
  color: #f1d302;
}
.footer-bottom .dot {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #fff;
}
.footer-bottom .right-bottom img{
  margin: 0 0.5rem;
}

@media only screen and (max-width: 576px) {
  .top-container {
    flex-direction: column;
  }
  .top-header-left {
    margin-bottom: 1rem;
  }
  .middle-header {
    flex-direction: column;
    height: auto;
  }
  .logo,
  .middle-header form {
    margin-bottom: 2rem;
  }
  form select {
    width: 40%;
  }
  form input {
    width: 60%;
  }
  .middle-header form {
    width: 100%;
  }
  .bottom-header-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  .hamburger-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-icons ion-icon {
    color: #fff;
    font-size: 35px;
    cursor: pointer;
  }
  .menu.active {
    display: none;
  }
  .close {
    display: none;
  }
  .close.active {
    display: block;
  }
  .hamburger-container h4 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .nav {
    display: none;
  }
  .nav.active {
    display: block;
    position: absolute;
    top: 100%;
    padding: 2rem 0;
    left: 0;
    height: auto;
    background-color: #c1292e;
    border-top: 3px solid #dfdfdf;
    z-index: 100;
  }

  .nav.active ul {
    flex-direction: column;
  }
  .active .dropdown {
    flex-direction: column;
    width: 100%;
  }

  .active .dropdown-content {
    position: relative;
    width: 100%;
    left: 0;
  }
  .active .dropdown-content a {
    padding-left: 25px;
    text-align: left;
    width: 100%;
  }
  .swipper-inner {
    max-width: 100%;
  }
  .products-favorites {
    flex-direction: column;
  }
  .costumer-fav {
    width: 90%;
  }
  .swiper-container.swiper2 {
    width: 100%;
  }
  .swiper2.swiper-button-next:after,
  .swiper2.swiper-button-prev:after {
    display: none;
  }
  .swiper2.swiper-button-next,
  .swiper2 .swiper-button-prev {
    display: none;
  }
   footer{
    padding: 2rem;
  }
  .footer-top{
    padding-bottom: 2rem;
  }
}
@media only screen and (max-width: 992px) {
  .footer-sub{
    flex: 2;
  }
  .footer-list {
  margin-bottom: 2rem;
}
}
@media only screen and (max-width: 751px) {
  .footer-top{
    flex-direction: column;
  }
  .footer-list{
    width: 100%;
  }
  .footer-bottom{
    flex-direction: column;
    padding-top:2rem;
  }
  footer form{
    width: 80%;
  }
}